<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWorld_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SWorld_Downloader.Properties.Settings>
            <setting name="Tab_0" serializeAs="String">
                <value>Tp_DL</value>
            </setting>
            <setting name="Tab_1" serializeAs="String">
                <value>Tp_Debug</value>
            </setting>
            <setting name="Tab_2" serializeAs="String">
                <value>Tp_Tools</value>
            </setting>
            <setting name="Tab_3" serializeAs="String">
                <value>Tp_Code</value>
            </setting>
            <setting name="DL_BaudRate" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DL_File_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DL_BL_Go_Way" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DL_BL_Auto_Match" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_Start_Address" serializeAs="String">
                <value>08000000</value>
            </setting>
            <setting name="DL_Run_Address" serializeAs="String">
                <value>08000000</value>
            </setting>
            <setting name="DL_Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_After_Direct_Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DL_Auto_Close_Debug_Port" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DL_Show_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_Auto_Download" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_Erase_Way" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DL_Write_Option_Byte" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_Read_Protect" serializeAs="String">
                <value>5A</value>
            </setting>
            <setting name="DL_HW_Byte" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_Write_Protect1" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_Write_Protect2" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_Write_Protect3" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_Write_Protect4" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_User_Data1" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="DL_User_Data2" serializeAs="String">
                <value>FF</value>
            </setting>
            <setting name="Debug_BaudRate" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Debug_StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Debug_DataBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Debug_CheckBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Debug_Show_Hex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_DTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_RTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_RTS_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Debug_Send_One" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug_Send_File_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug_Send_Hex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_NewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_OnTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Resend_Time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Debug_Show_Time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Show_Time_Val" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DL_Start_Address_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DL_Run_Address_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_Fix_Stat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_Max_Stat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_Size" serializeAs="String">
                <value>800, 580</value>
            </setting>
            <setting name="Debug_Select_Prj_Name" serializeAs="String">
                <value>默认项目</value>
            </setting>
            <setting name="Debug_Select_Prj_Page" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Debug_Send_M_NewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_M_Hex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_M_ConNumKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_M_Resend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_Send_M_Resend_Time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Start_Check_Update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Version_Info" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tab_4" serializeAs="String">
                <value>Tp_Type</value>
            </setting>
            <setting name="Tab_5" serializeAs="String">
                <value>Tp_Help</value>
            </setting>
        </SWorld_Downloader.Properties.Settings>
    </userSettings>
</configuration>